h1{
    color: red;
    background-color: violet;
    position: relative;
    list-style: none;
    list-style-type: square;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
}