h1{
    color: red;
    background-color: violet;
    position: relative;
    list-style: none;
    list-style-type: square;
}

<<<<<<< HEAD
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
=======
h1{
    background-image: none;
    background-repeat: repeat-x;
    margin: 0px 0px;
    padding: 0px 0px;
    display: flex;
    flex-direction: row;
>>>>>>> relative
}